
@font-face {
  font-display: auto;
  font-family: "quickemu-logos-font";
  font-style: normal;
  font-weight: normal;
  src:url("quickemu-logos-font.woff?v=0.0.4") format("woff"),url("quickemu-logos-font.woff2?v=0.0.4") format("woff2"),url("quickemu-logos-font.ttf?v=0.0.4") format("truetype")}

.fl-tux::before, 
.fl-quickemu::before, 
.fl-agarimos::before, 
.fl-almalinux::before, 
.fl-alpine::before, 
.fl-android::before, 
.fl-antix::before, 
.fl-archbang::before, 
.fl-archcraft::before, 
.fl-archlabs::before, 
.fl-archlinux::before, 
.fl-arcolinux::before, 
.fl-artixlinux::before, 
.fl-aryalinux::before, 
.fl-athenaos::before, 
.fl-backbox::before, 
.fl-biglinux::before, 
.fl-bodhi::before, 
.fl-bunsenlabs::before, 
.fl-centos::before, 
.fl-cereus::before, 
.fl-coreos::before, 
.fl-crystal::before, 
.fl-debian::before, 
.fl-devuan::before, 
.fl-dietpi::before, 
.fl-eos::before, 
.fl-elementary::before, 
.fl-endeavouros::before, 
.fl-fedora::before, 
.fl-freebsd::before, 
.fl-freedos::before, 
.fl-garuda::before, 
.fl-gentoo::before, 
.fl-ghostbsd::before, 
.fl-gnuguix::before, 
.fl-haiku::before, 
.fl-hyperbola::before, 
.fl-illumos::before, 
.fl-kalilinux::before, 
.fl-linuxlite::before, 
.fl-linuxmint::before, 
.fl-lmde::before, 
.fl-lxle::before, 
.fl-mabox::before, 
.fl-macos::before, 
.fl-mageia::before, 
.fl-mandriva::before, 
.fl-manjaro::before, 
.fl-midnightbsd::before, 
.fl-mxlinux::before, 
.fl-netbsd::before, 
.fl-netbootxyz::before, 
.fl-nitrux::before, 
.fl-nixos::before, 
.fl-nobara::before, 
.fl-openmandriva::before, 
.fl-openbsd::before, 
.fl-opensuse::before, 
.fl-parabola::before, 
.fl-parrotsecurity::before, 
.fl-puppy::before, 
.fl-pclinuxos::before, 
.fl-popos::before, 
.fl-postmarketos::before, 
.fl-pureos::before, 
.fl-q4os::before, 
.fl-qubesos::before, 
.fl-raspberry-pi::before, 
.fl-rebornos::before, 
.fl-regolith::before, 
.fl-rockylinux::before, 
.fl-sabayon::before, 
.fl-slackware::before, 
.fl-slitaz::before, 
.fl-smartos::before, 
.fl-siduction::before, 
.fl-solus::before, 
.fl-steamos::before, 
.fl-tails::before, 
.fl-trisquel::before, 
.fl-truenas-core::before, 
.fl-trueos::before, 
.fl-tuxedoos::before, 
.fl-ubuntu::before, 
.fl-kubuntu::before, 
.fl-lubuntu::before, 
.fl-xubuntu::before, 
.fl-ubuntu-budgie::before, 
.fl-ubuntu-kylin::before, 
.fl-ubuntu-mate::before, 
.fl-ubuntu-studio::before, 
.fl-ultimateedition::before, 
.fl-ultramarine::before, 
.fl-vanilla::before, 
.fl-voidlinux::before, 
.fl-vxlinux::before, 
.fl-whonix::before, 
.fl-windows::before, 
.fl-xerolinux::before, 
.fl-zorin::before, 
.fl-asahilinux::before, 
.fl-deepin::before, 
.fl-kaios::before, 
.fl-kdeneon::before, 
.fl-lineageos::before, 
.fl-locos::before, 
.fl-reactos::before, 
.fl-sailfishos::before, 
.fl-slint::before, 
.fl-ubuntu-unity::before
 {
  display: inline-block;
  font-family: "quickemu-logos-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fl-fw {
  text-align: center;
  width: 1em;
}
.fl-tux::before {
  content: "\f300";
}
.fl-quickemu::before {
  content: "\f301";
}
.fl-agarimos::before {
  content: "\f302";
}
.fl-almalinux::before {
  content: "\f303";
}
.fl-alpine::before {
  content: "\f304";
}
.fl-android::before {
  content: "\f305";
}
.fl-antix::before {
  content: "\f306";
}
.fl-fw.fl-antix::before {
  font-size: 0.9715370018975332em;
  line-height: 1.029296875em;
}
.fl-archbang::before {
  content: "\f307";
}
.fl-archcraft::before {
  content: "\f308";
}
.fl-archlabs::before {
  content: "\f309";
}
.fl-archlinux::before {
  content: "\f30a";
}
.fl-arcolinux::before {
  content: "\f30b";
}
.fl-artixlinux::before {
  content: "\f30c";
}
.fl-aryalinux::before {
  content: "\f30d";
}
.fl-athenaos::before {
  content: "\f30e";
}
.fl-backbox::before {
  content: "\f30f";
}
.fl-biglinux::before {
  content: "\f310";
}
.fl-bodhi::before {
  content: "\f311";
}
.fl-bunsenlabs::before {
  content: "\f312";
}
.fl-centos::before {
  content: "\f313";
}
.fl-cereus::before {
  content: "\f314";
}
.fl-coreos::before {
  content: "\f315";
}
.fl-crystal::before {
  content: "\f316";
}
.fl-debian::before {
  content: "\f317";
}
.fl-devuan::before {
  content: "\f318";
}
.fl-dietpi::before {
  content: "\f319";
}
.fl-eos::before {
  content: "\f31a";
}
.fl-elementary::before {
  content: "\f31b";
}
.fl-endeavouros::before {
  content: "\f31c";
}
.fl-fedora::before {
  content: "\f31d";
}
.fl-freebsd::before {
  content: "\f31e";
}
.fl-freedos::before {
  content: "\f31f";
}
.fl-fw.fl-freedos::before {
  font-size: 0.8258064516129032em;
  line-height: 1.2109375em;
}
.fl-garuda::before {
  content: "\f320";
}
.fl-gentoo::before {
  content: "\f321";
}
.fl-ghostbsd::before {
  content: "\f322";
}
.fl-gnuguix::before {
  content: "\f323";
}
.fl-haiku::before {
  content: "\f324";
}
.fl-fw.fl-haiku::before {
  font-size: 0.9394495412844037em;
  line-height: 1.064453125em;
}
.fl-hyperbola::before {
  content: "\f325";
}
.fl-illumos::before {
  content: "\f326";
}
.fl-kalilinux::before {
  content: "\f327";
}
.fl-fw.fl-kalilinux::before {
  font-size: 0.7496339677891655em;
  line-height: 1.333984375em;
}
.fl-linuxlite::before {
  content: "\f328";
}
.fl-linuxmint::before {
  content: "\f329";
}
.fl-lmde::before {
  content: "\f32a";
}
.fl-lxle::before {
  content: "\f32b";
}
.fl-mabox::before {
  content: "\f32c";
}
.fl-macos::before {
  content: "\f32d";
}
.fl-mageia::before {
  content: "\f32e";
}
.fl-mandriva::before {
  content: "\f32f";
}
.fl-fw.fl-mandriva::before {
  font-size: 0.7062068965517241em;
  line-height: 1.416015625em;
}
.fl-manjaro::before {
  content: "\f330";
}
.fl-midnightbsd::before {
  content: "\f331";
}
.fl-mxlinux::before {
  content: "\f332";
}
.fl-netbsd::before {
  content: "\f333";
}
.fl-netbootxyz::before {
  content: "\f334";
}
.fl-fw.fl-netbootxyz::before {
  font-size: 0.6684073107049608em;
  line-height: 1.49609375em;
}
.fl-nitrux::before {
  content: "\f335";
}
.fl-nixos::before {
  content: "\f336";
}
.fl-nobara::before {
  content: "\f337";
}
.fl-openmandriva::before {
  content: "\f338";
}
.fl-openbsd::before {
  content: "\f339";
}
.fl-opensuse::before {
  content: "\f33a";
}
.fl-parabola::before {
  content: "\f33b";
}
.fl-parrotsecurity::before {
  content: "\f33c";
}
.fl-puppy::before {
  content: "\f33d";
}
.fl-pclinuxos::before {
  content: "\f33e";
}
.fl-popos::before {
  content: "\f33f";
}
.fl-postmarketos::before {
  content: "\f340";
}
.fl-pureos::before {
  content: "\f341";
}
.fl-q4os::before {
  content: "\f342";
}
.fl-fw.fl-q4os::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-qubesos::before {
  content: "\f343";
}
.fl-raspberry-pi::before {
  content: "\f344";
}
.fl-rebornos::before {
  content: "\f345";
}
.fl-regolith::before {
  content: "\f346";
}
.fl-fw.fl-regolith::before {
  font-size: 0.8504983388704319em;
  line-height: 1.17578125em;
}
.fl-rockylinux::before {
  content: "\f347";
}
.fl-sabayon::before {
  content: "\f348";
}
.fl-slackware::before {
  content: "\f349";
}
.fl-slitaz::before {
  content: "\f34a";
}
.fl-fw.fl-slitaz::before {
  font-size: 0.8165869218500797em;
  line-height: 1.224609375em;
}
.fl-smartos::before {
  content: "\f34b";
}
.fl-siduction::before {
  content: "\f34c";
}
.fl-solus::before {
  content: "\f34d";
}
.fl-steamos::before {
  content: "\f34e";
}
.fl-tails::before {
  content: "\f34f";
}
.fl-trisquel::before {
  content: "\f350";
}
.fl-fw.fl-trisquel::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-truenas-core::before {
  content: "\f351";
}
.fl-trueos::before {
  content: "\f352";
}
.fl-tuxedoos::before {
  content: "\f353";
}
.fl-ubuntu::before {
  content: "\f354";
}
.fl-kubuntu::before {
  content: "\f355";
}
.fl-lubuntu::before {
  content: "\f356";
}
.fl-xubuntu::before {
  content: "\f357";
}
.fl-ubuntu-budgie::before {
  content: "\f358";
}
.fl-ubuntu-kylin::before {
  content: "\f359";
}
.fl-ubuntu-mate::before {
  content: "\f35a";
}
.fl-ubuntu-studio::before {
  content: "\f35b";
}
.fl-ultimateedition::before {
  content: "\f35c";
}
.fl-ultramarine::before {
  content: "\f35d";
}
.fl-vanilla::before {
  content: "\f35e";
}
.fl-voidlinux::before {
  content: "\f35f";
}
.fl-vxlinux::before {
  content: "\f360";
}
.fl-whonix::before {
  content: "\f361";
}
.fl-windows::before {
  content: "\f362";
}
.fl-xerolinux::before {
  content: "\f363";
}
.fl-zorin::before {
  content: "\f364";
}
.fl-asahilinux::before {
  content: "\f365";
}
.fl-deepin::before {
  content: "\f366";
}
.fl-kaios::before {
  content: "\f367";
}
.fl-kdeneon::before {
  content: "\f368";
}
.fl-lineageos::before {
  content: "\f369";
}
.fl-locos::before {
  content: "\f36a";
}
.fl-reactos::before {
  content: "\f36b";
}
.fl-sailfishos::before {
  content: "\f36c";
}
.fl-slint::before {
  content: "\f36d";
}
.fl-ubuntu-unity::before {
  content: "\f36e";
}